@using Luthetus.Common.RazorLib.Theme
@using Luthetus.TextEditor.RazorLib.Keymap
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="luth_te_text-editor-input-keymap @TextEditorService.ThemeCssClassString @TopLevelDivElementCssClassString">
    <span class="@LabelElementCssClassString">
        Keymap:&nbsp;
    </span>

    <select @onchange="SelectedKeymapChanged"
            class="@InputElementCssClassString">
        @{
            var keymaps = KeymapFacts.AllKeymapDefinitions;
            var chosenKeymap = TextEditorOptionsStateWrap.Value.Options.KeymapDefinition;
            
            foreach (var keymap in keymaps)
            {
                <option value="@keymap.KeymapKey.Guid.ToString()"
                        selected="@((chosenKeymap?.KeymapKey ?? KeymapKey.Empty) == keymap.KeymapKey)">
                    @keymap.DisplayName
                </option>
            }
        }
    </select>
</div>