@using Luthetus.TextEditor.RazorLib.Cursor
@using Luthetus.Common.RazorLib.Dimensions

<div class="luth_te_body-section"
     style="@GetBodyStyleCss()">

    @{
        var primaryCursorSnapshot = new TextEditorCursorSnapshot(TextEditorViewModel.PrimaryCursor);

        var tabKeyOutput = "&nbsp;&nbsp;&nbsp;&nbsp;";
        var spaceKeyOutput = "&nbsp;";

        if (TextEditorService.OptionsWrap.Value.Options.ShowWhitespace ?? default)
        {
            tabKeyOutput = "--->";
            spaceKeyOutput = "·";
        }
    }

    <RowSection @ref="_rowSectionComponent"
                GlobalShowNewlines="TextEditorService.OptionsWrap.Value.Options.ShowNewlines ?? default"
                SpaceKeyOutput="@spaceKeyOutput"
                TabKeyOutput="@tabKeyOutput"
                TabIndex="@TabIndex"
                PrimaryCursorSnapshot="primaryCursorSnapshot"
                ContextMenuRenderFragmentOverride="ContextMenuRenderFragmentOverride"
                IncludeContextMenuHelperComponent="IncludeContextMenuHelperComponent"
                AutoCompleteMenuRenderFragmentOverride="AutoCompleteMenuRenderFragmentOverride"/>

    <ScrollbarSection/>

    <div>
        @{
            var localMouseStoppedEventMostRecentResult = MouseStoppedEventMostRecentResult;

            if (localMouseStoppedEventMostRecentResult is not null)
            {
                var relativeX = localMouseStoppedEventMostRecentResult.Value.relativeCoordinates.RelativeX
                    .ToCssValue();

                var relativeY = localMouseStoppedEventMostRecentResult.Value.relativeCoordinates.RelativeY
                    .ToCssValue();

                <div style="position: absolute; left: @(relativeX)px; top: @(relativeY)px; background-color: gray;">
                    @localMouseStoppedEventMostRecentResult.Value.message
                </div>
            }
        }
    </div>
</div>